body
{
  /*  background-color:#3D3D3B ;*/
  background-image: url("../img/background2.jpg");
  background-position: 0 0px;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
  color: #d8dad9;
}

#container
{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
 /* height: 97vh;*/
  /*width: 97vw;
  height: 97vh;*/
}

h1
{
  font-weight: 600;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

h2
{
  font-weight: 400;
  font-size: 0.7rem;
  margin: 0;
  padding: 0;
}

a
{
  text-decoration: none;
  color: #d8dad9;
}

a:hover
{
  color: #fff;
}

a:visited
{
  text-decoration: none;
  color: #d8dad9;
}

main
{
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 30px 0px 40px rgba(0,0,0, 0.1),
  -30px 0px 40px rgba(0,0,0, 0.1);
}

#header
{
/*  border: 1px solid white;
  box-sizing: border-box;*/
/*  position: relative;*/
/*  margin-top: 6rem;*/
}

#header-text
{
  height: 10vh;
  text-align: left;
  padding-right: 1rem;
  padding-left: 1.5rem;
  letter-spacing: 2px;
  padding-top: 2rem;
  line-height: 1.2rem;
}
/*
#header-icon
{
  /*position: absolute;*/
 /* top: 3rem;
  right: 8rem;**/
 /* float: left;
  padding-left: 1.5rem;*/
/*  padding-top: 1rem;*/
}

/*#reload
{
  width: 16px;
  height:16px;
}*/

#basic-parameters
{
   height:30vh;
   width: 100%;
}

#basic-parameters h1
{
  font-size: 1.7rem;
  font-weight: 400;
}

/*#img-icon
{
  width: 80%;
  margin-top: 2rem;
  margin-left: 1rem;
  float: left;

}*/

/*svg
{
  fill:#d8dad9;
}*/



.climacon
{
  fill:#d8dad9;
  }



#celsius
{

  width: 12%;
  height: 12%
}

#img
{
  float: left;
  width:45%;
  height: 100%;
  margin-left: 2rem;

/*  margin-top: 3rem;*/
/*  box-sizing: border-box;
  border: 1px solid #fff;*/

}

#svg

{
     fill:#d8dad9;
}


#temp
{
  float: right;
  margin-top: 4rem;
  width: 40%;
/*  box-sizing: border-box;
  border: 1px solid #fff;*/

}

#caqi
{
/*  border-bottom: 1px solid white;
  box-sizing: border-box;*/
  width: 100%;
  text-align: center;
  padding-top:10rem;
}

#caqi h2
{
  letter-spacing: 2px;
  font-size: 0.7rem;
  text-transform: uppercase;
  padding-top: 0.5rem;
  text-align: center;
}

#caqi p
{
 font-size: 1rem;
 margin: 0;
 padding-top: 0.5rem;
 padding-bottom: 0.3rem;
 font-weight: 600;
 display: inline-block;
 text-align: center;
}

#bar
{
  background-color: #3f4a60;
 /* 24272e;*/
  width: 80%;
  height: 0.6rem;
  display: inline-block;
  border-radius: 50px;
  position: relative;
}

#bar div
{
  background-color: #00ff00;
  width: 40%;
  height: 0.6rem;
  display: inline-block;
  border-radius: 50px;
  position: absolute;
  top: 0;
  left: 0;
}


#other-parameters
{
/*  border-left: 1px solid #d8dad9;
  box-sizing: border-box;*/
  display:inline-flex;
  align-items: center;
  width: 100%;
  height: 20vh;
  text-align: center;
  padding-top: 2rem;
/*  margin-left: auto;
  margin-right: auto;*/
 /* margin-top: 2rem;*/
  margin-left: 0.5rem;

}

.otp
{
/*  border: 1px solid #d8dad9;
  box-sizing: border-box;*/
/*  float: left;*/
  justify-content:space-between;
/*  align-content: center;*/
    flex: 2;
}

#other-parameters h2
{
  letter-spacing: 1.3px;
  font-size: 0.8rem;
  text-transform: lowercase;
  margin-bottom: 0;
}

#other-parameters p
{
 font-size: 1rem;
 margin: 0;
 padding-top: 0.5rem;
 padding-bottom: 2rem;
 font-weight: 600;


}
/*
.other-parameters1
{
  float: left;
  width: 50%;
}*/


#clr
{
  clear: both;
}

ol>li
{
  text-align: center;
  font-size: 0.65rem;
  font-weight: 400;
  display: inline-block;
  text-decoration: none;
  margin-top: 1rem;
}

ol
{
  margin-left: auto;
  margin-right: auto;

}


h3
{
  /*border-bottom: 1px solid white;
  box-sizing: border-box;*/
  padding: 1rem;
  padding-bottom:0;

}

/*Media queries*/

@media(min-width: 768px)
{

main
{
  max-width: 600px;

}

#header
{
  padding-bottom: 6rem;
}

h1
{
  font-size: 1.5rem;
  margin-top: 2rem;

}

h2
{
  font-size: 1rem;
  line-height: 2rem;
}
  
#basic-parameters
{
  width: 68%;
  float: left;
}


#celsius
{
  display: block;
  float: right;
  margin-left: 10rem;
  width: 12%;
  height: 12%;
  margin-top: 0.3rem;
  margin-left: 0;
  margin-right: 4.4rem;
}

#temp h1
{
  display: flex;
  float: left;
  margin-top: 0;
}

#img
{
  float: left;
  width:70%;
  height: 100%;
  margin-left: 2rem;
}

#temp
{
  margin: 0;
}


#caqi
{
  margin-top: 14rem;
 }

#other-parameters h2,
#caqi h2
{
  font-size: 1rem;
}

#other-parameters p,
#caqi p
{
 font-size: 1.2rem;
 padding-top: 0.8rem;
 padding-bottom: 2.2rem;
}


ol>li
{
   font-size: 1rem;
   margin-top:5rem;
   text-align: center;
}

ol
{
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}


#other-parameters
{
  display: flex;
  flex-direction: column;
  float: left;
  width: 30%;
  height: 60vh;
  box-sizing: border-box;
  border-left: 1px solid #d8dad9;
}

}

@media(min-width: 1024px) /*and (min-height: 768px)*/
{

main
{
  max-width: 1000px;
  margin:0;
  padding: 0;
}


#container
{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  /*height: 100%;*/
}

#header
{
  padding-bottom: 0;

}

h1
{
   margin-top: 1rem;
}

  
#basic-parameters
{
  width: 60%;
  float: left;
  /*height: 40%;*/
}


#celsius
{
  display: block;
  float: right;
  margin-left: 10rem;
  width: 12%;
  height: 12%;
  margin-top: 0.1rem;
  margin-left: 0;
  margin-right: 4rem;
}

#temp h1
{
  display: flex;
  float: left;
  margin-top: 0;
  margin-left: 2rem;
}

#img
{
  float: left;
  width:70%;
  height: 100%;
  margin-left: 2rem;
}

#temp
{
  margin: 0;
}


#caqi
{
  margin:0;
  margin-top: 16rem;

}

#bar
{
  background-color: #3f4a60;
 /* 24272e;*/
  width: 80%;
  height: 0.6rem;
  display: inline-block;
  border-radius: 50px;
  position: relative;
}

#bar div
{
  background-color: #00ff00;
  width: 40%;
  height: 0.6rem;
  display: inline-block;
  border-radius: 50px;
  position: absolute;
  top: 0;
  left: 0;
}


ol>li
{
   font-size: 1rem;
   text-align: center;
   padding-top: 0;
   margin-top: 0;
}

ol
{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 0;
  padding-top: 0;
}

.links
{
  margin-top: 8rem;
  padding-top: 0;
}


#other-parameters
{
  display: flex;
  flex-direction: column;
  float: left;
  width: 39%;
  height: 55vh;
  box-sizing: border-box;
  border-left: 1px solid #d8dad9;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  justify-content: center;
}

}

@media(min-width: 1200px) 
{

main
{
  max-width: 900px;
  margin:0;
  padding:0;
}

#container
{
/*  margin-top: 2rem;*/
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 50%;
}

#header
{
  padding-bottom: 0;
  margin-left: 2rem;

}

h1
{
   margin-top: 1rem;
   font-size: 2rem;
}

h2
{
  font-size: 1.4rem;
  line-height: 3rem;
}

  
#basic-parameters
{
  width: 60%;
  float: left;
  height: 40vh;
}


#celsius
{
  display: block;
  float: right;
  margin-left: 10rem;
  width: 12%;
  height: 12%;
  margin-top: 14rem;
  margin-left: 0;
  margin-right: 7rem;
}



#temp h1
{
  display: flex;
  float: left;
  margin-top: 0;
  padding-top: 0;
  margin-left: 1rem;
  font-size: 1rem;

}

#img
{
  float: left;
  width:60%;
  height: 100%;
  margin-left: 0;
}

#temp
{
/*  margin-top: 10rem;*/
/*height: 20vh;*/
}


#caqi
{
 /* margin-top: 12rem;*/
  width: 90%;
  margin-top: 16rem;
  padding-top: 0;

}

#bar
{
  width: 90%;
}


ol>li
{
   font-size: 1rem;
   text-align: center;
   justify-content: center;
}

ol
{
 /* margin-left: auto;
  margin-right: auto;*/
  text-align: center;
  margin-top: 0;
  padding-top: 0;
  padding-left: 0;
  margin-right: 0;
  justify-content: center;
}

.links
{
  margin-top: 8rem;
  padding-top: 0;
  /*margin-right: 16rem;*/
  text-align: center;
  justify-content: center;
}

ol.links
{
  margin:0;
  margin-top: 8rem;
  padding: 0;
}

#other-parameters
{
  display: flex;
  flex-direction: column;
  float: left;
  width: 50%;
 /* height: 60vh;*/
  box-sizing: border-box;
  border-left: 1px solid #d8dad9;
  padding-left: 10rem;
}

@media(min-width: 1920px), (max-height: 1080px)
{

main
{
  max-width: 1200px;
}

#container
{
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  height: 100vh;
}

#header
{
  padding-bottom: 0;

}

h1
{
   margin-top: 1rem;
   font-size: 2rem;
}

  
#basic-parameters
{
  width: 60%;
  float: left;
  height: 100%;
}




#celsius
{
  display: block;
  float: right;
  margin-left: 10rem;
  width: 12%;
  height: 12%;
  margin-top: 34rem;
  margin-left: 0;
  margin-right: 10rem;
}

#temp h1
{
  display: flex;
  float: left;
/*  margin-top: 34rem;*/
  margin-left: 2.5rem;
  font-size: 3rem;
  padding-top: 0;
}

#img
{
  float: left;
  width:60%;
  height: 100%;
  margin-left: 0;
}

#temp
{
  margin: 0;
/*  height: 50%;*/
}


#caqi
{
  margin-top: 30rem;
  width: 90%;
}

#caqi h2
{
  letter-spacing: 2px;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding-top: 0.5rem;
  text-align: center;
}

#caqi p
{
 font-size: 1.7rem;
 margin: 0;
 padding-top: 0.5rem;
 padding-bottom: 0.3rem;
 font-weight: 600;
 display: inline-block;
 text-align: center;
}


#bar
{
  width: 90%;
}


ol>li
{
   font-size: 1.6rem;
   text-align: center;
}

ol
{
 /* margin-left: auto;
  margin-right: auto;*/
  text-align: center;
  margin-top:2rem;
  padding-top: 2rem;
  padding-left: 0;
}

.links
{
  margin-top: 10rem;
  padding-top: 3rem;
  margin-right: 20rem;
}


#other-parameters
{
  display: flex;
  flex-direction: column;
  float: left;
  width: 20%;
  height: 55vh;
  box-sizing: border-box;
  border-left: 1px solid #d8dad9;
  margin-left: 2rem;
}

#other-parameters h2
{
  letter-spacing: 1.3px;
  font-size: 1.4rem;
  text-transform: lowercase;
  margin-bottom: 0;
  text-align: center;
}

#other-parameters p
{
 font-size: 1.7rem;
 margin: 0;
 padding-top: 0.5rem;
 padding-bottom: 2rem;
 font-weight: 600;
 text-align: center;

}

}


