body
{
  /*  background-color:#3D3D3B ;*/
  background-image: url("../img/background2.jpg");
  background-position: 0 0px;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
  color: #d8dad9;
}


h1
{
  font-weight: 600;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

h2
{
  font-weight: 400;
  font-size: 0.6rem;
  margin: 0;
  padding: 0;
}

a
{
  text-decoration: none;
  color: #d8dad9;
}

a:hover
{
  color: #fff;
}

a:visited
{
  text-decoration: none;
  color: #d8dad9;
}

main
{
  max-width: 340px;
 /* box-sizing: border-box;
  border: 1px solid white;*/
  margin-left: auto;
  margin-right: auto;
  box-shadow: 30px 0px 40px rgba(0,0,0, 0.1),
  -30px 0px 40px rgba(0,0,0, 0.1);
 
}

#header
{
  /*border: 1px solid white;
  box-sizing: border-box;*/

}

/*W header text i h1 i h2 jest powtarzanie się*/
#header-text
{
/*  height: 10vh;*/
  text-align: left;
  padding-right: 1rem;
  padding-left: 1.5rem;
  letter-spacing: 2px;
  padding-top: 2rem;
  line-height: 1.2rem;
}

/*#basic-parameters
{
   width: 100%;
   border: 1px solid green;
  box-sizing: border-box;
}
*/
/*#basic-parameters h1
{
  font-size: 1.7rem;
  font-weight: 400;
}*/

#basic-parameters
{
   width: 100%;
   margin-top: 1rem;
  /* border: 1px solid yellow;
  box-sizing: border-box;*/
}

#img
{
  float: left;
  width:45%;
 /* height: 100%;*/
/*  margin-left: 2rem;*/
/*  box-sizing: border-box;
  border: 1px solid #fff;*/

}

#temp
{
  float: right;
  margin-top: 4rem;
  margin-right: 2.2rem;
/*  width: 40%;*/
/*  box-sizing: border-box;
  border: 1px solid #fff;*/

}

#caqi 
{
/*  width: 100%;*/
  text-align: center;
/*  border: 1px solid green;
  box-sizing: border-box;*/
}

#caqi h2
{
  letter-spacing: 2px;
  font-size: 0.7rem;
  text-transform: uppercase;
/*  padding-top: 0.5rem;*/
  text-align: center;
}

#caqi p
{
 font-size: 0.8rem;
 margin: 0;
/* padding-top: 0.5rem;
 padding-bottom: 0.3rem;*/
 font-weight: 600;
/* display: inline-block;*/
 text-align: center;
}

#bar
{
  background-color: #3f4a60;
 /* 24272e;*/
  width: 80%;
  height: 0.6rem;
  display: inline-block;
  border-radius: 50px;
  position: relative;
}

#bar div
{
  background-color: #00ff00;
  width: 40%;
  height: 0.6rem;
  display: inline-block;
  border-radius: 50px;
  position: absolute;
  top: 0;
  left: 0;
}


#other-parameters
{
 /* border: 1px solid #d8dad9;
  box-sizing: border-box;*/
  display:inline-flex;
  align-items: center;
  width: 100%;
 /* height: 20vh;*/
  text-align: center;
/*  padding-top: 2rem;*/
/*  margin-left: auto;
  margin-right: auto;*/
 /* margin-top: 2rem;*/
/*  margin-left: 0.5rem;*/

}

.otp
{
/*  border: 1px solid #d8dad9;
  box-sizing: border-box;*/
/*  float: left;*/
  justify-content:space-between;
/*  align-content: center;*/
    flex: 2;
}

#other-parameters h2
{
  letter-spacing: 1.3px;
  font-size: 0.7rem;
  text-transform: lowercase;
  margin-bottom: 0;
}

#other-parameters p
{
 font-size: 0.8rem;
 margin: 0;
 padding-top: 0.5rem;
 padding-bottom: 2rem;
 font-weight: 600;


}

.clr
{
  clear: both;
}

ol>li
{
  text-align: center;
  font-size: 0.65rem;
  font-weight: 400;
  display: inline-block;
  text-decoration: none;
  margin-top: 1rem;
  padding-left:0;
}

ol
{
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;

}


h3
{
  /*border-bottom: 1px solid white;
  box-sizing: border-box;*/
  padding: 1rem;
  padding-bottom:0;

}

/*Media queries*/

@media (min-width: 530px){

main
{
  max-width: 500px;
/*  box-sizing: border-box;
  border: 1px solid white;*/
 }

#basic-parameters
{
  width: 50%;
 /* border: 1px solid yellow;
  box-sizing: border-box;*/
  float: left;
  margin-top:1rem;
}

#img
{
  float: none;
  width:100%;
 /* box-sizing: border-box;
  border: 1px solid #fff;*/

}

#temp
{
  float: none;
}

#temp h1
{
  text-align: center;

}

#other-parameters
{
  border-left: 1px solid #d8dad9;
  box-sizing: border-box;
  float: right;
  width: 40%;
  display: block;
  padding

}
#caqi 
{
/*  width: 100%;*/
  text-align: center;
/*  border: 1px solid green;
  box-sizing: border-box;*/
  padding-top:2rem;
}


.links
{
  text-align: center;
}


/*Media queries*/

@media (min-width: 530px){


#basic-parameters
{
  width: 50%;
/*  border: 1px solid yellow;
  box-sizing: border-box;*/
  float: left;
}

#img
{
  float: none;
  width:100%;
  /*box-sizing: border-box;
  border: 1px solid #fff;*/

}

#temp
{
  float: none;
  margin: 0;

}

#other-parameters
{
  border-left: 1px solid #d8dad9;
  box-sizing: border-box;
  float: right;
  width: 40%;
  display: block;
}

}

@media (min-width: 760px){

main
{
  max-width: 700px;
/*  box-sizing: border-box;
  border: 1px solid white;*/
 }

 h1
{
  font-size: 1.5rem;
   line-height: 2rem;
}

h2
{
 
  font-size: 0.9rem;


}
#temp h1
{
  font-size: 1.5rem;

}

#caqi h2
{
  
  font-size: 0.9rem;
  padding-top: 0.6rem;
 }

#caqi p
{
 font-size: 1rem;
 padding-top: 0.6rem;


}

#other-parameters h2
{
  font-size: 0.9rem;
}

#other-parameters p
{
 font-size: 1rem;
}

ol>li
{
  font-size: 0.9rem;
 }
}

@media (min-width: 1024px){

main
{
  max-width: 900px;
/*  box-sizing: border-box;
  border: 1px solid white;*/
 }

 #img
{
  float: none;
  width:80%;
 /* box-sizing: border-box;
  border: 1px solid #fff;*/
  margin-left: 3rem;

}

 #other-parameters
 {

  margin-top: 4rem;
 }


#other-parameters h2
{
  font-size: 1rem;
}

#other-parameters p
{
 font-size: 1.2rem;
}

 #caqi h2
{
    font-size: 0.9rem;

}

#caqi p
{
 font-size: 1.2rem;

}

 #bar
{
 
  height: 1rem;

}

#bar div
{
 
  height: 1rem;
 

}

@media (min-width: 1280px){

main
{
  max-width: 1100px;
/*  box-sizing: border-box;
  border: 1px solid white;*/
}

#temp h1
{
  font-size: 2rem;
  padding-bottom: 2rem;

}
#img
{
  float: none;
  width:80%;
 /* box-sizing: border-box;
  border: 1px solid #fff;*/
  margin-left: 3rem;

}


ol>li
{
  font-size: 1.2rem;
 }


 }

 

@media (max-width: 324px){
body
{
  display: none;
}
}
