body
{
  background-image: url("../img/background2.jpg");
  background-position: 0 -390px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color:#3D3D3B ;


  /*background: #3D3D3B;*/
  font-family: 'Montserrat', sans-serif;
  color: #d8dad9;
  margin: 0;
}

#container
{
  margin-left: auto;
  margin-right: auto;
}

h1
{
  font-weight: 600;
  font-size: 1.8rem;
  margin: 0;
}

h2
{
  font-weight: 400;
  font-size: 1rem;
  margin: 0;
}


img
{
  display:block;
}

a
{
  text-decoration: none;
  color: #d8dad9;
}

a:hover
{
  color: #fff;
}

main
{
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 30px 0px 40px rgba(0,0,0, 0.1),
  -30px 0px 40px rgba(0,0,0, 0.1);
}

#header
{
  /*border: 1px solid white;*/
  box-sizing: border-box;
  position: relative;
}

#header-text
{
  height: 10vh;
  text-align: left;
  padding-right: 1rem;
  padding-left: 1rem;
  letter-spacing: 2px;
  padding-top: 0.5rem;
}

#header-icon
{
  position: absolute;
  top: 2.8rem;
  left: 11rem;
}

#reload
{
  width: 16px;
  height:16px;
}


#basic-parameters
{
  /*border: 1px solid white;*/
  box-sizing: border-box;
  float: left;
  width: 60%;
  height: 57vh;
  position: relative;
}

#basic-parameters h1
{
  font-size: 2.8rem;
  font-weight: 400;
  position: absolute;
  top: 11rem;
  left: 18rem;
}

#img-icon
{
  width: 13rem;
  height: 13rem;
  position: absolute;
  bottom: 10rem;
  left: 4rem;
}

#celsius
{
  position: absolute;
  top: 6rem;
  left: 18rem;
}

#caqi
{
  /*border: 1px solid white;*/
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-align: center;
}

#caqi h2
{
  letter-spacing: 2px;
  font-size: 0.9rem;
  text-transform: uppercase;
  padding-top: 0.4rem;
  text-align: center;
}

#caqi p
{
 font-size: 1.5em;
 margin: 0;
 padding-top: 0.7rem;
 padding-bottom: 1.2rem;
 font-weight: 600;
 display: inline-block;
 text-aling: center;
}

#bar
{
  background-color: #24272e;
  width: 80%;
  height: 1rem;
  display: inline-block;
  border-radius: 50px;
  position: relative;
}

#bar div
{
  background-color: #00ff00;
  width: 40%;
  height: 1rem;
  display: inline-block;
  border-radius: 50px;
  position: absolute;
  top: 0;
  left: 0;
}


#other-parameters
{
  border-left: 1px solid white;
  box-sizing: border-box;
  float: left;
  width: 40%;
  height: 60vh;
  text-align: center;
  padding-top: 3rem;
}

#other-parameters h2
{
  letter-spacing: 2px;
  font-size: 0.9rem;
  text-transform: lowercase;
  margin-bottom: 0;
}

#other-parameters p
{
 font-size: 1.5em;
 margin: 0;
 padding-top: 0.7rem;
 padding-bottom: 2rem;
 font-weight: 600;
}

#clr
{
  clear: both;
}

.links
{
  margin-top: 2rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: 2rem;
}

h3
{
  /*border-bottom: 1px solid white;
  box-sizing: border-box;*/
  padding: 0.1rem;
}
