body
{
  /*  background-color:#3D3D3B ;*/
  background-image: url("../img/background2.jpg");
  background-position: 0 0px;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
  color: #d8dad9;
}

#container
{
  margin-left: auto;
  margin-right: auto;
  width: 97vw;
  height: 97vh;
}

h1
{
  font-weight: 600;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

h2
{
  font-weight: 400;
  font-size: 0.7rem;
  margin: 0;
  padding: 0;
}

a
{
  text-decoration: none;
  color: #d8dad9;
}

a:hover
{
  color: #fff;
}

a:visited
{
  text-decoration: none;
  color: #d8dad9;
}

main
{
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 30px 0px 40px rgba(0,0,0, 0.1),
  -30px 0px 40px rgba(0,0,0, 0.1);
}

#header
{
/*  border: 1px solid white;
  box-sizing: border-box;*/
/*  position: relative;*/
/*  margin-top: 6rem;*/
}

#header-text
{
  height: 10vh;
  text-align: left;
  padding-right: 1rem;
  padding-left: 1.5rem;
  letter-spacing: 2px;
  padding-top: 2rem;
  line-height: 1.2rem;
}
/*
#header-icon
{
  /*position: absolute;*/
 /* top: 3rem;
  right: 8rem;**/
 /* float: left;
  padding-left: 1.5rem;*/
/*  padding-top: 1rem;*/
}

/*#reload
{
  width: 16px;
  height:16px;
}*/

#basic-parameters
{
   height:30vh;
   width: 100%;
}

#basic-parameters h1
{
  font-size: 1.7rem;
  font-weight: 400;
}

/*#img-icon
{
  width: 80%;
  margin-top: 2rem;
  margin-left: 1rem;
  float: left;

}*/

/*svg
{
  fill:#d8dad9;
}*/

#celsius
{

  width: 12%;
  height: 12%
}

#img
{
  float: left;
  width: 45%;
  margin-left: 2rem;
/*  margin-top: 3rem;*/
/*  box-sizing: border-box;
  border: 1px solid #fff;*/

}
#temp
{
  float: right;
  margin-top: 4rem;
  width: 40%;
/*  box-sizing: border-box;
  border: 1px solid #fff;*/

}

#caqi
{
/*  border-bottom: 1px solid white;
  box-sizing: border-box;*/
  width: 100%;
  text-align: center;
  padding-top:10rem;
}

#caqi h2
{
  letter-spacing: 2px;
  font-size: 0.7rem;
  text-transform: uppercase;
  padding-top: 0.5rem;
  text-align: center;
}

#caqi p
{
 font-size: 1rem;
 margin: 0;
 padding-top: 0.5rem;
 padding-bottom: 0.3rem;
 font-weight: 600;
 display: inline-block;
 text-align: center;
}

#bar
{
  background-color: #3f4a60;
 /* 24272e;*/
  width: 80%;
  height: 0.6rem;
  display: inline-block;
  border-radius: 50px;
  position: relative;
}

#bar div
{
  background-color: #00ff00;
  width: 40%;
  height: 0.6rem;
  display: inline-block;
  border-radius: 50px;
  position: absolute;
  top: 0;
  left: 0;
}


#other-parameters
{
/*  border-left: 1px solid #d8dad9;
  box-sizing: border-box;*/
  display:inline-flex;
  align-items: center;
  width: 100%;
  height: 20vh;
  text-align: center;
  padding-top: 2rem;
/*  margin-left: auto;
  margin-right: auto;*/
 /* margin-top: 2rem;*/
  margin-left: 0.5rem;

}

.otp
{
/*  border: 1px solid #d8dad9;
  box-sizing: border-box;*/
/*  float: left;*/
  justify-content:space-between;
/*  align-content: center;*/
    flex: 2;
}

#other-parameters h2
{
  letter-spacing: 1.3px;
  font-size: 0.8rem;
  text-transform: lowercase;
  margin-bottom: 0;
}

#other-parameters p
{
 font-size: 1rem;
 margin: 0;
 padding-top: 0.5rem;
 padding-bottom: 2rem;
 font-weight: 600;


}
/*
.other-parameters1
{
  float: left;
  width: 50%;
}*/


#clr
{
  clear: both;
}

ol>li
{
  text-align: center;
  font-size: 0.65rem;
  font-weight: 400;
  display: inline-block;
  text-decoration: none;
  margin-top: 1rem;
}

ol
{
  margin-left: auto;
  margin-right: auto;

}


h3
{
  /*border-bottom: 1px solid white;
  box-sizing: border-box;*/
  padding: 1rem;
  padding-bottom:0;

}


/*@media(max-width: 768px)
{
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box
  {
    float: none;
    text-align: center;
    width: 100%;
  }

  header
  {
    padding-bottom: 20px;
  }

  #showcase h1
  {
    margin-top:40px;
  }

  #newsletter button
  {
    display: block;
    width: 100%;
  }

  #newsletter form input[type="email"]
  {
    width: 100%;
    margin-bottom: 5px;
  }
}*/