
html { 
  background: url("../img/background2.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body
{
  font-family: 'Montserrat', sans-serif;
  color: #d8dad9;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0;
  background-attachment: fixed;
  position: relative;
}

#front-text
{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: #d8dad9;
  border: 1.5px solid #d8dad9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 60%;
  padding: 60px;
  text-align: center;
  border-radius: 50px;
}

#front-text h1
{
  font-size: 1.3rem;
  font-weight: bold;
}

#p-front
{
  font-size: 0.9rem;
  line-height: 1.5rem;
  padding: 1rem;
  letter-spacing: 1px;
}

#next-btn
{
  background-color: #00ff00;;
  width: 50%;
  height: 2rem;
  display: inline-block;
  border-radius: 50px;
  border: 0;
  text-align: center;
  font-weight: bold;
  color: #3f4a60;
  font-size:1rem;
  cursor: pointer;
  outline: none;
}

#next-btn:hover
{
  background-color: #00cc00;
}

.cookie-buttons
{
  display: flex;
  flex-wrap: wrap;
  outline: none;
}

#ok-btn
{
  background-color: #00ff00;;
  width: 80%;
  height: 2rem;
  border-radius: 50px;
  border: 0;
  text-align: center;
  font-weight: bold;
  color: black;
  margin-right: 10px;
  font-size:0.95rem;
  cursor: pointer;
  outline: none;
}

#ok-btn:hover
{
  background-color: #00cc00;
}

#forget-btn
{
  background-color: #3f4a60;
  width: 30%;
  height: 2rem;
  border-radius: 50px;
  border: 0;
  text-align: center;
  font-weight: bold;
  color: black;
  margin-top: 15px;
  font-size:0.8rem;
  cursor: pointer;
  outline: none;
}

#forget-btn:hover
{
  background-color: #2e3a50;
}

h1
{
  font-weight: 600;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

h2
{
  font-weight: 400;
  font-size: 0.6rem;
  margin: 0;
  padding: 0;
}

h3
{
  font-weight: 400;
  font-size: 0.6rem;
  margin: 0;
  padding: 0;
}

a
{
  text-decoration: none;
  color: #d8dad9;
}

a:hover
{
  color: #fff;
}

a:visited
{
  text-decoration: none;
  color: #d8dad9;
}

main
{
  margin-top: auto;
  box-shadow: 30px 0px 40px rgba(0,0,0, 0.1),
  -30px 0px 40px rgba(0,0,0, 0.1);
  margin: auto;
  padding: 20px;
  align-self:center;
 }

#main-overlay
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .15);  
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  layout.css.backdrop-filter.enabled = true;
}

.climacon {
  fill: #d8dad9;
}

#header-text
{
  text-align: left;
  padding-right: 1rem;
  padding-left: 1.5rem;
  letter-spacing: 2px;
  padding-top: 2rem;
  line-height: 1.2rem;
}

#basic-parameters
{
   width: 100%;
   margin-top: 1rem;
}

#img
{
  float: left;
  width:45%;
  margin-right:0;
  padding-right:0;
}

#temp
{
  float: right;
  margin-top: 3.5rem;
  margin-right: 1rem;
}

#caqi 
{
  text-align: center;
}

#caqi h2
{
  letter-spacing: 2px;
  font-size: 0.7rem;
  text-transform: uppercase;
  text-align: center;
}

#caqi p
{
 font-size: 0.8rem;
 margin: 0;
 font-weight: 600;
 text-align: center;
}

#bar
{
  background-color: #3f4a60;
  width: 80%;
  height: 0.6rem;
  display: inline-block;
  border-radius: 50px;
  position: relative;
}

#bar div
{
  background-color: #00ff00;
  width: 40%;
  height: 0.6rem;
  display: inline-block;
  border-radius: 50px;
  position: absolute;
  top: 0;
  left: 0;
}

#other-parameters
{
  display:inline-flex;
  align-items: center;
  width: 100%;
  text-align: center;
}

.otp
{
  justify-content:space-between;
  flex: 2;
}

#other-parameters h2
{
  letter-spacing: 1.3px;
  font-size: 0.7rem;
  text-transform: lowercase;
  margin-bottom: 0;
}

#other-parameters p
{
 font-size: 0.8rem;
 margin: 0;
 padding-top: 0.5rem;
 padding-bottom: 2rem;
 font-weight: 600;
}

.clr
{
  clear: both;
}

ol>li
{
  text-align: center;
  justify-content: center;
  font-weight: 400;
  display: inline-block;
  text-decoration: none;
  margin-top: 1rem;
  padding-left:0;
}

ol
{
  padding-left: 1rem;
  justify-content: center;
  text-align: center;
}


h3
{
  padding: 1rem;
  padding-bottom:0;
}


/*FIND LOCATION SITE*/

#map
{
  width: 100%;
  height:60vh;
  margin-top: 2rem;
}

#adress-wrapper
{
  padding-top: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
  align-content: space-between;
  margin: 0;
  width:100%;
  line-height:1.6rem;
  font-weight: lighter;
}

#adress{

  margin-top: 0.8rem;
}

#find-btn{
  margin-top: 1.5rem;
  background-color:transparent;
  height: 2rem;
  width: 10rem;
  border-radius: 50px;
  border: 1px solid #00ff00;
  text-align: center;
/*  font-weight: bold;*/
  color: #d8dad9;
  font-size:0.9rem;
  cursor: pointer;
  outline: none;
  margin-left: 1rem;
  box-sizing: border-box;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.2s;
}

#find-btn:hover
{
  background-color: #00cc00;
  color: #3f4a60; 
  cursor: pointer;
  box-shadow: 0 0 10px #00ff00, 0 0 40px #00ff00, 0 0 80px #00ff00;
}


#address:before
{
  outline:none;
  box-sizing: border-box;
  border: 1px solid #00ff00;
  border-radius: 50px;
  height: 2rem;
  width: 20rem;
  background: transparent;
  text-transform: uppercase;
  padding: 10px;
  margin-top: 1.5rem;
  transition: 0.2s;
  transform: scale(0.9);
  z-index: -1;
}

input[type=text]
{
  outline:none;
  box-sizing: border-box;
  border: 1px solid #00ff00;
  border-radius: 50px;
  height: 2rem;
  width: 20rem;
  background: transparent;
  text-transform: uppercase;
  padding: 10px;
  margin-top: 1.5rem;
  transition: 0.2s;
}

input[type=text]:hover
{
  outline:none;
  box-sizing: border-box;
  border: 1px solid #00cc00;
  border-radius: 50px;
  height: 2rem;
  width: 20rem;
  background: transparent;
  text-transform: uppercase;
  padding: 10px;
  margin-top: 1.5rem;
  transition: 0.2s;
  box-shadow: 0 0 8px #00ff00, 0 0 8px #00ff00, 0 0 8px #00ff00;

}

input[type=button]
 {
  margin-top: 1.5rem;
  background-color:transparent;
  height: 3rem;
  width: 10rem;
  border-radius: 50px;
  border: 1px solid #00ff00;
  text-align: center;
/*  font-weight: bold;*/
  color: #d8dad9;
  font-size:1rem;
  cursor: pointer;
  outline: none;
  margin-left: 1rem;
  box-sizing: border-box;
  text-transform: uppercase;
  padding: 10px;
  letter-spacing: 2px;
  transition: 0.2s;
} 

input[type=button]:hover
{
  background-color: #00cc00;
  color: #3f4a60; 
  box-shadow: 0 0 10px #00ff00, 0 0 40px #00ff00, 0 0 80px #00ff00;
  cursor: pointer;
/*  background: linear-gradient(90deg, transparent, #00ff00);*/
}

  





































/*Media queries*/

/*DESKTOP MIN-WIDTH 530 px*/

@media (min-width: 530px){

html { 
  display: block;
}

body
{
  display: block;
  margin-top: 2rem;
}

main
{
  max-width: 450px;
}

#ok-btn
{
  width: 60%;
}

#forget-btn
{
  width: 20%;
  font-size: 0.7rem;
}

#front-text
{
  border: 3px solid #d8dad9;
}

#front-text h1
{
  font-size: 1.4rem;
  font-weight: bold;

}

#p-front
{
  font-size: 1rem;
  line-height: 1.2rem;
  padding: 1rem;
  letter-spacing: 1px;
}

#basic-parameters
{
  width: 50%;
  float: left;
  margin-top:1rem;
}

#img
{
  float: none;
  width:100%;
}

#temp
{
  float: none;
}

#temp h1
{
  text-align: center;
}

#other-parameters
{
  border-left: 1px solid #d8dad9;
  box-sizing: border-box;
  float: right;
  width: 40%;
  display: block;
}

#caqi 
{
  text-align: center;
  padding-top:2rem;
}

.links
{
  text-align: center;
}

 h3
{
   font-size: 0.7rem;
}

}

/*DESKTOP MIN-WIDTH 760 px*/

@media (min-width: 760px){

html { 
  display: block;
}

body
{
  display: block;
}

main
{
  max-width: 700px;
  margin: 0 auto;
}

#forget-btn
{
  font-size:0.95rem;
}

h1
{
  font-size: 1.5rem;
  line-height: 2rem;
}

h2
{
  font-size: 0.9rem;
}

 h3
{
   font-size: 0.9rem;
}

#temp h1
{
  font-size: 1.5rem;
}

#caqi h2
{
  font-size: 0.9rem;
  padding-top: 0.6rem;
 }

#caqi p
{
 font-size: 1rem;
 padding-top: 0.6rem;
}

#other-parameters h2
{
  font-size: 0.9rem;
}

#other-parameters p
{
 font-size: 1rem;
}

ol>li
{
  font-size: 0.9rem;
}

}

/*DESKTOP MIN-WIDTH 1024 px*/

@media (min-width: 1024px){

html { 
  display: block;
  margin: 0;
  padding:0;
}

body
{
  display: block;
  position: relative;
}

main
{
max-width: 900px;
position: absolute;
left: 50%;                      
top: 50%;
transform: translate(-50%, -50%);
width: 90%;
}

#header-text
 {
  padding-top: 0;
 }

 #img
{
  float: none;
  width:80%;
  margin-left: 3rem;
}

 #other-parameters
 {
  margin-top: 4rem;
 }

#other-parameters h2
{
  font-size: 1rem;
}

 h3
{
 font-size: 1rem;
 padding-top: 0;
}

#other-parameters p
{
 font-size: 1.2rem;
}

 #caqi h2
{
  font-size: 0.9rem;
}

#caqi p
{
 font-size: 1.2rem;
}

 #bar
{
 height: 1rem;
}

#bar div
{
 height: 1rem;
}

ol
{
  margin-top: 0;
}

/*DESKTOP MIN-WIDTH 1280 px*/

@media (min-width: 1280px){

html { 
  display: block;
  margin:0;
}

body
{
  display: block;
  position: relative;
}

main
{
  max-width: 900px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

#temp h1
{
  font-size: 2rem;
  padding-bottom: 2rem;
}

#img
{
  float: none;
  width:60%;
  margin-left: 5rem;
}

#svg
{
  height: 60%;
}

ol
{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

ol>li
{
  font-size: 1.2rem;
}

h3
{
  font-size: 1.2rem;
}

}

 

